<!DOCTYPE html>
<html lang="tr" dir="ltr" class="ltr">
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
  <meta name="keywords" content="..." />
  <meta name="description" content="..." />

  <meta property="og:locale" content="tr_TR" />
  <meta property="og:title" content="..." />
  <meta property="og:description" content="..." />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="" />

  <link rel="canonical" href="">

  <link rel="image_src" href="">

  <link rel="icon" type="image/x-icon" sizes="any" href="/favicon.ico">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="apple-touch-icon" href="/favicon.png">


  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/lib.js" type="module" defer></script>
  <script src="/js/main.js" defer></script>
</head>

<body class="{%block bodyClass %}{% endblock %}">

  {#prettier-ignore#}
  {% include "../partial/header.html" %}
  {% block content %}{% endblock %}
  {% include "../partial/footer.html" %}

  {% block endScripts %}{% endblock %}
</body>
</html>